.widget{
    display:flex;
    height: 100px;
    width: 230px;
    align-items:center;
    gap: 50px;
    justify-content:space-between;
    margin: 10px;
    padding:10px;
    border-radius: 10%;
    font-size: small;
    -webkit-box-shadow: 7px 5px 11px -2px rgba(0,0,0,0.27);
    box-shadow: 7px 5px 11px -2px rgba(0,0,0,0.27);
    }
    .left,.right
    {
    display:flex;
    align-items:center;
    flex-direction: column;
    gap: 15px;
    justify-items:space-between;

    }
    .right{
        justify-content: space-between;
        gap: 50px;
    }
.percentage{
    display: flex;
    align-items: center;
}